@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Federatia Romana de Baschet</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BackendRazor.styles.css" asp-append-version="true" />
</head>
<body class="pt-8 pb-8">
    <!-- Navbar fix -->
    @if (SignInManager.IsSignedIn(User))
    {
        <header class="fixed top-0 left-0 w-full bg-white border-b shadow z-50">
            <nav class="navbar navbar-expand-sm navbar-light">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center gap-2" asp-page="/Admin/Panel">
                        <img src="~/images/icon.svg""
                            alt="FRB Logo"
                            class="h-8 w-8" />
                            FRB ADMIN
                    </a>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" asp-page="/Admin/Teams/Index">Teams</a></li>
                            <li class="nav-item"><a class="nav-link" asp-page="/Admin/Matches/Index">Matches</a></li>
                        </ul>
                    </div>

                    <form method="post" asp-page="/Admin/Logout">
                        <button type="submit" class="btn btn-outline-danger">Logout</button>
                    </form>

                </div>
            </nav>
        </header>
    }
    else
    {
        <header class="fixed top-0 left-0 w-full bg-white border-b shadow z-50">
            <nav class="navbar navbar-expand-sm navbar-light">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center gap-2" asp-page="/home">
                        <img src="~/images/icon.svg""
                            alt="FRB Logo"
                            class="h-8 w-8" />
                            FRB
                    </a>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" asp-page="/teams/index">Teams</a></li>
                            <li class="nav-item"><a class="nav-link" asp-page="/matches/index">Matches</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    

    <!-- Conținut scrollabil -->
    <main class="container mt-20 mb-20">
        @RenderBody()
    </main>

    <!-- Footer fix -->
    <footer class="fixed bottom-0 left-0 w-full bg-white border-top py-2 px-4 z-50">
        &copy; 2026 - Universitatea "Ovidius"
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
